@{
    ViewData["Title"] = "Dashboard";
    Layout = "_LayoutUser";
 
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
    <p>Dashboard <a href="https://docs.microsoft.com/aspnet/core">This Is User Dashboard</a>.</p>
</div>

